{
    "editor.fontFamily": "Comic Mono, Menlo, Monaco, 'Courier New', monospace",
    "editor.fontSize": 14,
    "workbench.startupEditor": "none",
    "redhat.telemetry.enabled": true,
    "terminal.external.osxExec": "iTerm.app",
    "DockerRun.DisableAutoGenerateConfig": true
}